{% extends 'home_page/main.html' %}
{% block content %}
{%load static%}
<!DOCTYPE html> 
<html><head>
    <meta charset="utf-8">
    <title>Vote</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Untitled</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static '/assets/css/styles.min.css'%}">
	
<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
<link rel="stylesheet" href="https://kit-free.fontawesome.com/releases/latest/css/free.min.css" media="all">
<link rel="stylesheet" href="https://kit-free.fontawesome.com/releases/latest/css/free.min.css" media="all">
<link rel="stylesheet" href="https://kit-free.fontawesome.com/releases/latest/css/free.min.css" media="all">
</head>

<body id="page-top" style="background-color: #fff;">	
    <div class="main_content">
        <div class="info">
          
        <div class="container">
			
            
            <!-- Start: Intro -->
            <div class="intro">
                <h2 class="text-center"><font style="vertical-align: inherit;color: black;"><font style="vertical-align: inherit;">Vote</font></font></h2>
                <p class="text-center"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">select a category below to vote.</font><font style="vertical-align: inherit;">   </font><font style="vertical-align: inherit;">You can only cast one vote per category</font></font></p>
            </div>
			
            <!-- End: Intro -->
            <!-- Start: Articles -->
            <div class="row articles">
                <div class="col-sm-6 col-md-4 item"><a href="#"><img class="img-fluid" src="{% static '/assets/img/desk.jpg'%}"></a>
                    <h3 class="name"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Topwear</font></font></h3>
                    <p class="description"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Vote for a Topwear. </font><font style="vertical-align: inherit;"> </font><font style="vertical-align: inherit;">you can vote for only one design</font></font></p><a class="action" href="shirtvote.html"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a></div>
                <div class="col-sm-6 col-md-4 item"><a href="#"><img class="img-fluid" src="{% static '/assets/img/pant6.jpg'%}"></a>
                    <h3 class="name"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Bottomwear</font>

</font></h3>
					
                    <p class="description"><font style="vertical-align: inherit;"></font><font style="vertical-align: inherit;">Vote for Bottomwear. you can vote for only one design</font></p><a class="action" href="pantvote.html"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a></div>
            <div class="col-sm-6 col-md-4 item"><a href="#"><img class="img-fluid" src="{% static '/assets/img/shoe1.jpg'%}"></a>
                <h3 class="name"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"></font></font><font style="vertical-align: inherit;">Footwear</font></h3>
                <p class="description"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Vote for Footwear.You can vote for only one design</font></font></p><a class="action" href="foot.html"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a></div>
    <div class="col-sm-6 col-md-4 item"><a href="#"><img class="img-fluid" src="{% static '/assets/img/fullo.jpg'%}"></a>
                    <h3 class="name"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Outfits</font></font></h3>
                    <p class="description"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Vote for Outfits. </font><font style="vertical-align: inherit;"> </font><font style="vertical-align: inherit;">you can vote for only one outfit</font></font></p><a class="action" href="outfit.html"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a></div><div class="col-sm-6 col-md-4 item"><a href="#"><img class="img-fluid" src="{% static '/assets/img/acc1.jpg'%}"></a>
                    <h3 class="name"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Accessories</font></font></h3>
                    <p class="description"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Vote for Accessories.You can vote for only one accessory item</font></font></p><a class="action" href="accvote.html"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a></div><div class="col-sm-6 col-md-4 item"><a href="#"><img class="img-fluid" src="{% static '/assets/img/formal1.jpg'%}"></a>
                    <h3 class="name"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Formals</font></font></h3>
                    <p class="description"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Vote for Formals.You can vote for only one suit</font></font></p><a class="action" href="formal.html"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a></div>
    <!-- End: Articles -->
    </div>
    </div>
    <!-- End: Article List -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script><div id="goog-gt-tt" class="skiptranslate" dir="ltr"><div style="padding: 8px;"><div></div>
	</div><div class="top" style="padding: 8px; float: left; width: 100%;"></div><div class="middle" style="padding: 8px;"><div class="original-text"></div></div><div class="status-message" style="display: none;"></div></div>
      </div>
    </div>

	
</body></html>
{% endblock %}