{% extends 'brand/home_page/main.html' %}

{% block content %}
<div class="container register">
    <div class="row">
        <div class="col-md-3 register-left">
            <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt=""/>
            <h3>Welcome</h3>

        </div>
        <div class="col-md-9 register-right">

            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <h3 class="register-heading">DESIGNERS..</h3>
                    <form method="POST" action="" enctype="Multipart/form-data">
                        {% csrf_token %}
                    <div class="row register-form">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder=" Name *" value="" name="name" />
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder=" Designation *" value="" name="designation" />
                            </div>

                            <div class="form-group">
                                <input type="text" class="form-control" placeholder=" Email *" value="" name="email"/>
                            </div>
                            
                            <div class="form-group">
                                <label>Upload Image</label>
                                <input type="file" class="form-control"  value="" name="img"/>
                            </div>



                        </div>
                        <div class="col-md-6">

                            <div class="form-group">
                                <input type="text" minlength="10" maxlength="10" name="Phone" class="form-control" placeholder="Your Phone *" value="" />
                            </div>
                            <div class="form-group">
                                <input type="text" minlength="10" maxlength="10" name="Phone1" class="form-control" placeholder="Work Phone *" value="" />
                            </div>

                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Facebook ID *" name="fb" value="" />
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Instagra, ID *" value="" name="insta" />
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Twitter ID *" value="" />
                            </div>
                            <input type="submit" class="btnRegister"  value="Register"/>
                        </div>
                    </div>
                        </form>
                </div>

            </div>
        </div>
    </div>

</div>

{% endblock %}
