{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        {% block style %} {% endblock %}
    </head>
    <body>
        <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
        <center>
        <a href="user/">User</a>&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;
        <a href="designer/">Designer</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="brand/">Brand</a></center>
    </body>
</html>