{% extends 'brand/home_page/main.html' %}
{% load static %}
{% block content %}
<script src="https://kit.fontawesome.com/a076d05399.js"></script>

<h1 style="font-size:35px;color:white;background-color:black; text-align:center;font-family:'Times New Roman';padding:13px;"> {{bname}} Dashboard  </h1>
{% include 'brand/home_page/status.html' %}

<!-- <link rel="stylesheet" href="{% static 'css/swiper.min.css' %}"/>
<link rel="stylesheet" href="{% static 'css/slider.css' %}"/>
  
<body>
<!--Product slider
<div class="swiper-container">
    <div class="swiper-wrapper">
    {% for i in prds %} 
      <div class="swiper-slide">
        <div class="slider">
            <p class="time"></p>
            <div class="img-box">
                <img width="250px" height="auto" src="{{i.images.url}}">
                
            </div>
            <p class="detail">Name:{{i.name}}
                 <a href="#" class="price">Price:{{i.price}}</a>
            </p>
            <p class="view">
                <a href="#">View</a>
            </p>
        </div>
      </div>
      {% endfor %}
    </div>
</div>
<!---Designer slideer-----------   
--------------
<div class="swiper-container">
    <div class="swiper-wrapper">
        
      <div class="swiper-slide">
        <div class="slider">
            <p class="time"></p>
            <div class="img-box">
                <img src="/static/images/logo/1.jpg">
                 
            </div>
            <p class="detail">fancy yellow frock 
                 <a href="#" class="price">price-500Rs</a>
            </p>
            <p class="view">
                <a href="#">View</a>
            </p>
        </div>
      </div>
    </div>
</div>

<script type="text/javascript" src="{% static 'js/swiper.min.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>
</body> -->
{% endblock %}
