{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


    <link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}"> 
<style>
    #total-orders{
			background-color: rgb(30, 101, 255);
		}


		#orders-delivered{
			background-color: #1E90FF;
		}

		#orders-pending{
			background-color: rgb(87, 171, 255);
		}
</style>
{% include 'brand/home_page/navbar.html' %}
<div class="" id="main">

{% block content %}

    
    
    



    


{% endblock %}
</div>
</html>